# Text editor backups #
#######################
*~
*.pyc
*.pyo

# Irrelevant background files #
###############################
/documents/
/papers/
/private/
/dev/test/*
*.egg-info/


# Misc files #
##################
*.pth
*.out


# ignore all . folders but include . files #
############################################
.*/