# Text editor backups #
#######################
*~
*.pyc
*.pyo

# Irrelevant background files #
###############################
/meta/


# Personal files #
##################
/poisson/private/

# ignore all . folders but include . files #
############################################
.*/