# Text editor backups #
#######################
*~
*.pyc
*.pyo

# Irrelevant background files #
###############################
/dev/
/notes/
/notebooks/
*.egg-info/


# Misc files #
##################
*.pth
*.out


# ignore all . folders but include . files #
############################################
.*/